#root {
  width: 100%; /* creo que tiene mas que ver con el ancho de la tabla que se le pasa en el .jsx */
  margin: 0, auto; /*creo que ahí está bien, ya quedó centrado*/
  margin-top: 4rem;
  padding: 20, 0;
}
#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  gap:0;
  margin:0;
}
#side-banner {
  width: 200px; 
  height: 100%;
  position: fixed;
  display:flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: rgb(141, 138, 138);
  z-index: 100;
}
#texto_navegacion{
  margin-top: 100%;
  transform: rotate(-90deg);
}
#right-side{
  display: flex;
  flex-direction: column;
  flex:1;
  margin-left: 200px;
}
#title-table{
  background-color: orange;
  position: fixed;
  height: 4rem;
  width: 100%;
  overflow-x: scroll;
  z-index: 101;
}

#title-table h2 {
  text-align: center;
}
body {
  margin: 0;
  display: flex;
  
} 

